<h1 >Dynamic Form</h1>

<!-- <mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div mat-dialog-content>
            <div *ngFor="let field of data.fields">
                <mat-form-field appearance="fill" *ngIf="field.type === 'text'">
                    <mat-label>{{ field.label }}</mat-label>
                    <input matInput [formControlName]="field.name" />
                    <mat-error *ngIf="form.get(field.name)?.hasError('required')">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-divider [style.margin-top.px]="12"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button>Save</button>
</mat-dialog-actions> -->