.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.content {
    padding: 16px;
}

.btn-generate {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}